#timeline h1 {
  text-align: center;
}

#description {
  color: var(--light-color) !important;
}

.title {
  color: var(--white-color) !important;
}

.location {
  color: var(--primary-color) !important;
}

.vertical-timeline-element-content {
  background: var(--bg-variant-color) !important;
  border: 1px solid var(--border-color) !important;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05) !important;
}
.vertical-timeline-element-icon svg {
  fill: #ffffff !important;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid var(--bg-variant-color) !important;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  background: var(--primary-color) !important;
}

.vertical-timeline-element-icon {
  -webkit-box-shadow: 0 0 0 4px var(--bg-variant-color),
    inset 0 2px 0 rgba(37, 99, 235, 0.1), 0 3px 0 4px rgba(37, 99, 235, 0.1) !important;
  box-shadow: 0 0 0 4px var(--bg-variant-color),
    inset 0 2px 0 rgba(37, 99, 235, 0.1), 0 3px 0 4px rgba(37, 99, 235, 0.1) !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 90%;
  }
}
